.progress-container {
  display: flex;
  align-items: center;
  gap: 1.013rem;
}

.progress-container h3 {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  color: var(--black-two);
}

.progress-container img {
  width: 5rem;
  height: 5rem;
}

.progress-container p {
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  color: var(--black-two);
}

.percentage-holder {
  display: flex;
  flex-direction: column;
}
